.sp-hero {
    height: 472px; // required height is 472px
    background: linear-gradient(rgba(50, 50, 50, 0.5)), url(../../assets/images/showPageImg.jpg) no-repeat;
    background-size: cover;
    display: flex;
    // flex-direction: column;
    position: relative;
    &__text {
        color: $secondary-color;
        font-family: $font-bold;
        // width: 15rem;
        width: 333px;
        height: 200px;
        padding-left: 1rem;
        font-size: 24px;
        line-height: 44px; // in the Typography doc, 24px font-size line-height is 32px, however, use 32px here is visually incorrect.
    }
    &__text--title {
        font-family: $font-regular;
        padding-top: 64px;
        font-size: 16px;
        margin: 0;
    }
}

.musicPlayer {
    width: 80%;
    // height: 50px;
    position: absolute;
    bottom: -15px;
    left: 10%;
    margin: 64px 0;
}

// ====== TABLET VERSION ======
@include tablet {
    .sp-hero {
        height: 670px; //required height is 670px
        &__text {
            width: 600px;
            font-size: 2.5rem;
            font-family: $font-bold;
            line-height: 90px;
            padding-left: 1.5rem;
        }
        &__text--title {
            font-family: $font-bold;
            padding-top: 96px;
            font-size: 24px;
        }
    }
    .musicPlayer {
        width: 55%;
        // height: 100px;
        position: absolute;
        bottom: -5px;
        left: 24px;
        // margin: 64px 0;
    }
}

// ====== DESKTOP VERSION ======
@include desktop {
    .sp-hero {
        display: flex;
        height: 670px;
        &__text--title {
            padding-top: 160px;
        }
        &__text {
            width: 780px;
            padding-left: 11.25rem;
        }
        .musicPlayer {
            width: 436px;
            height: 146px;
            position: relative;
            margin-top: 330px;
            margin-left: 64px;
            iframe {
                height: 146px;
            }
        }
    }
}