$tablet-width: 768px;
$desktop-width: 1440px;
$primary-color: #323232;
$secondary-color: #ffffff;
$tertiary-color: #AFAFAF;
// fonts
$font-regular: avenir next regular;
$font-demiBold: avenir next demi bold;
$font-bold: avenir next bold;
$font-light: avenir next light;