Html,
body {
  Margin: 0;
  padding: 0;
  Box-sizing: border-box;
}

*,
*:before,
*:after {
  Box-sizing: inherit;
}

p,
h1,
h2,
h3,
h5,
ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.current {
  border-bottom: 4px solid #ffffff;
}

body {
  font-family: avenir next regular;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.8125rem;
  font-family: avenir next light;
}

@font-face {
  font-family: "avenir next regular";
  src: url("../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: "avenir next demi bold";
  src: url("../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: "avenir next bold";
  src: url("../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Bold.otf");
}

@font-face {
  font-family: "avenir next light";
  src: url("../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Light.otf");
}

.nav-bar {
  width: 100%;
  height: 5rem;
  background-color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-bar__logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.nav-bar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-bar__list--grey {
  color: #cccccb;
}

.nav-bar__list a {
  text-decoration: none;
  color: #ffffff;
  font-family: avenir next demi bold;
  font-size: 0.8125rem;
  padding-bottom: 0.1875rem;
  padding-left: 3.4375rem;
  padding-right: 3.4375rem;
}

@media (min-width: 768px) {
  .nav-bar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav-bar__logo {
    width: auto;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 1.5rem;
  }
  .nav-bar__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-bar__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-bar__list a {
    padding-left: 0;
    padding-right: 0;
    margin-left: 3.4375rem;
    padding-bottom: 1.75rem;
    font-size: 0.875rem;
  }
}

@media (min-width: 1440px) {
  .nav-bar__logo {
    padding-left: 11.25rem;
  }
  .nav-bar__list a {
    margin-left: 3.5rem;
  }
}

.hero {
  height: 47vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 50, 50, 0.5))), url(../../assets/images/concert-1.jpg) no-repeat;
  background: linear-gradient(rgba(50, 50, 50, 0.5)), url(../../assets/images/concert-1.jpg) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__text {
  color: #ffffff;
  font-family: avenir next bold;
  width: 13.125rem;
  padding-left: 1rem;
  font-size: 0.875rem;
  line-height: 2rem;
}

@media (min-width: 768px) {
  .hero {
    height: 25rem;
  }
  .hero__text {
    width: 37.5rem;
    font-size: 2.25rem;
    font-family: avenir next bold;
    line-height: 4.25rem;
    padding-left: 1.5rem;
  }
}

@media (min-width: 1440px) {
  .hero {
    height: 41.875rem;
  }
  .hero__text {
    width: 43.75rem;
    padding-left: 11.25rem;
  }
}

.article-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.article-container__title {
  padding-top: 2rem;
}

.article-container__title h2 {
  font-size: 1.5rem;
  font-family: avenir next bold;
}

.article-container__img img {
  width: 100%;
  padding: 1.5rem 0;
}

.article-container__text {
  padding-bottom: 2rem;
  font-family: avenir next demi bold;
}

.article-container__sign {
  padding-bottom: 2.5rem;
  font-weight: bold;
  font-size: 0.8125rem;
}

.article-container__subtitle {
  font-size: 0.875rem;
  font-family: avenir next demi bold;
}

.article-container__text1 {
  font-size: 0.8125rem;
  padding: 1.5rem 0;
}

.article-container__text2 {
  font-size: 0.8125rem;
  padding-bottom: 2.5rem;
}

@media (min-width: 768px) {
  .article-container {
    width: 93%;
  }
  .article-container__title h2 {
    font-size: 2.25rem;
    font-family: avenir next bold;
  }
  .article-container__text p {
    font-size: 1.5rem;
    font-family: avenir next bold;
  }
  .article-container__sign {
    font-size: 1rem;
  }
  .article-container__subtitle {
    font-size: 1.5rem;
    font-family: avenir next bold;
  }
  .article-container__text1 {
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding-right: 1.5rem;
  }
  .article-container__text2 {
    font-size: 0.875rem;
    padding: 1.5rem 0;
    line-height: 1.375rem;
  }
  .article-container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 1440px) {
  .article-container {
    width: 75%;
  }
  .article-container__title {
    padding-top: 3rem;
  }
  .article-container__title h2 {
    font-size: 2.25rem;
    font-family: avenir next bold;
  }
  .article-container__img img {
    height: 34.375rem;
    padding: 3rem 0;
  }
  .article-container__text p {
    font-size: 1.5rem;
    font-family: avenir next bold;
    line-height: 2rem;
    padding-bottom: 2.5rem;
  }
  .article-container__sign {
    padding-bottom: 3.5rem;
  }
  .article-container__text1 {
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding-right: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  .article-container__text2 {
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  .article-container .article-box {
    width: 81%;
    margin-left: auto;
    margin-right: auto;
  }
}

.photo-gallery {
  background-color: #fafafa;
}

.photo-gallery__title {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  font-family: avenir next bold;
}

.photo-gallery__img09 {
  padding-bottom: 1.5rem;
}

.photo-gallery-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.photo-gallery-container img {
  width: 100%;
  padding-bottom: 1rem;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.photo-gallery-container img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  border: 1px solid white;
}

@media (min-width: 768px) {
  .photo-gallery__title {
    font-size: 1.5rem;
    font-family: avenir next bold;
  }
  .photo-gallery img {
    width: 30vw;
    height: 30%;
    padding-bottom: 1.5rem;
    padding-right: 0.375rem;
    padding-left: 0.375rem;
  }
  .photo-gallery__img09 {
    width: 30vw;
    height: 30%;
  }
  .photo-gallery-container {
    width: 93%;
  }
  .photo-gallery-container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .photo-gallery-container {
    width: 75%;
  }
  .photo-gallery__title {
    padding-top: 3rem;
    padding-bottom: 4rem;
    font-size: 1.5rem;
    font-family: avenir next bold;
  }
  .photo-gallery img {
    width: 24.4vw;
    padding-bottom: 1.5rem;
  }
  .photo-gallery__img09 {
    width: 24.4vw;
  }
  .photo-gallery-container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer {
  width: 100%;
  background-color: #323232;
  color: #ffffff;
}

.footer-container {
  width: 90%;
  margin: 0 auto;
}

.footer-container p {
  font-size: 0.8125rem;
  font-family: avenir next light;
}

.footer-title {
  padding-top: 2.5rem;
  font-family: avenir next bold;
}

.social-ico {
  padding: 1.5625rem 0;
}

.social-ico img {
  padding-right: 1.875rem;
}

.card {
  width: 100%;
  height: 9.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.125rem;
  padding-bottom: 1.5625rem;
}

.card h5 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-family: avenir next demi bold;
}

.copyright {
  width: 70%;
  padding-bottom: 1.875rem;
  line-height: 1.25rem;
}

.footerLogo {
  display: none;
}

@media (min-width: 768px) {
  .footer-container {
    width: 93%;
  }
  .footer-container p {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .footer-container a {
    font-size: 0.875rem;
  }
  .footer-container1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 2.5rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .footer-container1 .footer-title {
    font-size: 1rem;
    font-family: avenir next bold;
  }
  .footer-container1 .social-ico {
    padding: 0 0.625rem;
  }
  .footer-container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footerLogo {
    display: block;
  }
  .card {
    height: 12.5rem;
  }
  .card h5 {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 1440px) {
  .footer-container {
    width: 75%;
  }
  .footer-container1 {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-bottom: 2.5rem;
  }
  .footer-container1 .footerLogo {
    margin: 0 0 0 auto;
  }
  .footer-container1 .footer-title {
    padding-top: 3rem;
    padding-right: 100px;
    font-size: 1rem;
    font-family: avenir next bold;
  }
  .footer-container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
  }
  .footer-container2 p {
    font-family: avenir next light;
  }
  .footer-container2 .card {
    height: 11.25rem;
  }
}

.sp-hero {
  height: 472px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 50, 50, 0.5))), url(../../assets/images/showPageImg.jpg) no-repeat;
  background: linear-gradient(rgba(50, 50, 50, 0.5)), url(../../assets/images/showPageImg.jpg) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.sp-hero__text {
  color: #ffffff;
  font-family: avenir next bold;
  width: 333px;
  height: 200px;
  padding-left: 1rem;
  font-size: 24px;
  line-height: 44px;
}

.sp-hero__text--title {
  font-family: avenir next regular;
  padding-top: 64px;
  font-size: 16px;
  margin: 0;
}

.musicPlayer {
  width: 80%;
  position: absolute;
  bottom: -15px;
  left: 10%;
  margin: 64px 0;
}

@media (min-width: 768px) {
  .sp-hero {
    height: 25rem;
  }
  .sp-hero__text {
    width: 37.5rem;
    font-size: 2.25rem;
    font-family: avenir next bold;
    line-height: 4.25rem;
    padding-left: 1.5rem;
  }
}

@media (min-width: 1440px) {
  .sp-hero {
    height: 41.875rem;
  }
  .sp-hero__text {
    width: 43.75rem;
    padding-left: 11.25rem;
  }
}

.show-tickets-container {
  width: 90%;
  margin: 0 auto;
}

.show-tickets-container .buy-tickets__shows {
  padding-top: 32px;
  padding-bottom: 40px;
  font-size: 2rem;
  font-family: avenir next bold;
}

.show-tickets-container .buy-tickets__date, .show-tickets-container .buy-tickets__name, .show-tickets-container .buy-tickets__location {
  padding-bottom: 16px;
  color: #AFAFAF;
  font-weight: 600;
}

.show-tickets-container .buy-tickets__date1 {
  padding-bottom: 24px;
  font-family: avenir next demi bold;
}

.show-tickets-container .buy-tickets__name1 {
  padding-bottom: 24px;
}

.show-tickets-container .buy-tickets__location1 {
  padding-bottom: 32px;
}

.show-tickets-container .buy-tickets__button {
  width: 100%;
  height: 48px;
  background-color: #323232;
  color: #ffffff;
  border: none;
  margin-bottom: 16px;
  border-radius: 10px;
  font-size: 1rem;
}
/*# sourceMappingURL=main.css.map */